@import './theme.module';

.mintImage {
  position: fixed !important;
  top: 200px !important;
  left: -22px !important;
  height: 166px !important;
  width: 156px !important;
  min-width: unset !important;
  min-height: unset !important;
  margin: 0 !important;
  z-index: -1 ;
}

.homeButtons {
  cursor: pointer;
}