.container {
  // margin-left: 320px;
  // margin-right: 50px;
}

.welcomeText {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 56px;

  color: #c32530;
}
.userName {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 56px;

  margin-left: 10px;
  color: #000000;
}

.spread {
  display: flex;
}

.parentDiv {
  position: 'relative';
  width:100%;
  margin-right:30px;
  margin-left:30px;
  display: flex;
  flex-direction: column;
}

.pagesButtons {

  display: block;

  padding: 18px;

  background: linear-gradient(0deg, #cbdfd7, #cbdfd7), linear-gradient(0deg, #676767, #676767), #676767;
}


.signOutBtn {

  left: 0;
  right: 0;
  
  position: absolute;

  bottom: 0;

  border-radius: 0px;

  padding: 18px;

}

.pageButtonActive {

  display: block;

  padding: 23px;

  background: linear-gradient(0deg, #aacdbf, #aacdbf), linear-gradient(0deg, #676767, #676767), #676767;
}

.pagesButtonsDiv {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  text-align: center;
  color: #263238;

  text-align: center;
}

.plante {
  height: 131px;
  width: 109px;
  border-radius: 0px;

  top: -55px;

  filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.44));
  transform: rotate(25.09deg);
}

.sideBar {
  width: 25%;

  height: 100vh;

  left: 0;
  top: 0;

  position: sticky;

  background: #cbdfd7;
}

.searchInput {
  padding: 20px;

  height: 74px;
  width: 532px;
  border: none;

  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;

  text-align: center;

  border-radius: 50px;

  background: #ebebeb;
}

.searchDiv {

  font-size: 34px;
}

.div2 {
  padding: 20px;
}

.prodCard {

  position: relative;
  height: 160px;

  margin-top: 20px;

  background: #f7f4f4;
  border-radius: 30px;
}


.prodImgDiv {
  margin: 20px;
}

.prodName {

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
}

.prodDescr {

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;

  color: #263238;
}

.prodPrice {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;

  margin-left: 50px;

  color: #263238;
}

.btnDesac {
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;

  background: rgba(0, 100, 60, 0.5);
  border-radius: 7px;

  color: #ffffff;
}

.btnDelete {
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;

  background: #c32530;

  margin-left: 20px;

  border-radius: 7px;

  color: #ffffff;
}

.actionButtons {
  position: absolute;
  right: 0;
  margin-right: 15px;
}

.allProducts {
  margin-top: 30px;
}
